body{
	padding: 0;
	margin: 0;
	background: #333;
}
canvas, center{
	border: 3px solid #333;
	border-radius: 10px;
	background: white;
}
canvas{
	margin: 0 0 5px 0;
}
center{
	background: #333;
	background: white;
}
#form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	margin: 10px 0;
}
input {
  text-align:center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
label,
#lineWidth,
#name{
	background: #fff;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	border: 1px solid lightgrey;
	box-shadow: 2px 2px 6px 1px lightgrey;
	border-radius: 50px;
	outline: none !important;
}
#lineWidth{
	width: 38px;
	margin: 0 5px;
}
#name{
	width: 200px;
	margin: 5px 0;
	padding: 0 4px;
}
#colorDisplay{
	background: #333;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
.hidden{
	opacity: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.absolute{
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.triggered{}